<ion-header>
  <ion-toolbar>
    <ion-title>
      Game Information Application!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card>
      <ion-item>
          <ion-icon name="walk" slot="start"></ion-icon>
      </ion-item>
        <ion-card-header>
          <ion-card-subtitle>Get Information of Every Game You Want To Play or Planning To Play!</ion-card-subtitle>
          <ion-card-title>Game Information Application</ion-card-title>
        </ion-card-header>
  </ion-card>      
  
  <ion-input placeholder="Enter Input" [(ngModel)]="gameName"></ion-input>
      <ion-button expand="block" color="success" (click)="loadGameName()">Search
          <ion-icon name="search"></ion-icon>
      </ion-button>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-title>Hybrid Application Created By Abdur Rehman Khalid!</ion-title>
    </ion-toolbar>
  </ion-footer>
